@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #556F7A;
    --secondary-color: #2E6171;
    --accent1-color: #798086;
    --accent2-color: #B79FAD;
  
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;
  
    --nav-background-color: #B79FAD;
    --nav-link-color: #2E6171;
    --nav-hover-link-color: #2E6171;
    --nav-hover-background-color: #2E6171;
}
main img {
  float:right;
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

main {
  max-width: 840px;
}

aside {
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
  padding: 1em;
  text-align: center;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

.hero{
  float: right;
  text-align: right;
  display: flex;
}
section {
  flex: auto;
  justify-content: center;
}
aside img {
  width: 200px;
  height: auto;
}
.sociallinks{
  padding: 5px;
  flex: right;
}
header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
  text-align: center;
}
.grid {
  display: flex;
  align-items: center;
}

.content{
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 10px;
  display: flex;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}
.epic {
  position: center;
}
nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
aside {
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
  padding: 1em;
  text-align: center;
  position: relative;
}

.box {
  margin: 1rem;
  border: 10px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #B79FAD;
  color: #000;
  display: flex;
  overflow: auto;
}
article{
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  justify-content: center;
  margin: 1rem;
  border: 10px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #B79FAD;
  color: #000;
  align-items: center;
}

a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
section img{
  width: 150px;
  height: auto;
  padding: 5px;

}
main {
  grid-column: 2/3;
  margin: 1rem;
}
header {
  padding: 10px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1, h2, h3, h4, h5, h6 {
  margin:auto;
  text-align: center;
  font-family: var(--heading-font);
  color: var(--primary-color);
}

a {
  text-decoration: none;
}
figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;
  
}

fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: .5rem;
}
legend {
  color: navy;
  font-size: 1em;
  font-weight: bold;
}

label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
}

label, legend {
display: flex;
text-align: left;
padding-right: 1rem;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.form-item {
display: grid;
align-items: center;
}

.column1 {
grid-template-columns: 3fr 1fr;
margin: 0.5rem 0;
}

.column2 {
grid-template-columns: 1fr 2fr;
}
button {
  margin: 1rem;
  background-color: rgb(26, 0, 128);
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}
